<div class='flex items-center justify-center h-screen'>
  <div class='flex items-center justify-center sm:min-w-[640px]'>
      <div class='absolute top-6'>
        <app-city-search></app-city-search>
      </div>
      <div class='absolute top-0 left-0'>
        <select [ngModel]="(weatherService.weatherUnits$.asObservable() | async)!" (ngModelChange)="changeUnit($event)">
          <option value="standard">standard</option>
          <option value="metric">metric</option>
          <option value="imperial">imperial</option>
        </select>
      </div>
      <div class='w-full'>
        <app-weather-card></app-weather-card>
      </div>
  </div>
</div>